---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="py-28">
    <div class="pb-10">
      <h1>Thank you for submitting your message</h1>
    </div>
  </main>
</Layout>
